body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 16px;
}
header {
	background-color: white;
	width: 100%;
	top: 0;
	position: fixed;
}
nav {
	background-color: white;
	font-family: Helvetica, arial, sans-serif;
}
a {
	background-color: white;
	color: black;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
#splash {
	background-image: url(../images/turntable.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}
footer {
	background-color: #white;