<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
* { margin:0; padding:0; box-sizing:border-box; }
body {
font-family: 'Oswald', sans-serif;	font-size: 16px;
}
#header {
	background-color: #ededed;
	width: 50%;
	top: 0;
	position: fixed;
}
#splash {
	background-image: url(../images/turntable.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}
.logo {
	width: 1200px;
	margin: 0 auto;
}
img {
	width:300px;
}
