* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 16px;
}
header {
	background-color: #FFED74;
	width: 100%;
	top: 0;
	position: fixed;
}
nav {
	background-color: #FFC675;
}
article {
	background-color: #E89C6C;
}
footer {
	background-color: #FF957E;
}
#splash {
	background-image: url(../images/recordstack.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}
.logo {
	width: 1200px;
	margin: 0 auto;
}
img {
	width:200px;
}
