body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 16px;
}
header {
	background: #ac1f2d;
	color: white;
	width: 100%;
	top: 0;
	position: fixed;
}
#splash {
	background-image: url(../images/recordstack.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}
.logo {
	width: 1200px;
	margin: 0 auto;
}
